.forgot__password{
    height: 100vh;
    background: #E7F2FD;
    margin: 0;
    overflow: hidden;
}

.fp__section{
    display: flex;
    /* justify-content: space-evenly; */
    width: 100%;
}

.fp__section div:nth-child(1){
    width: 35%;
}

.fp__section div:nth-child(2){
    width: 35%;
    background: #FFFFFF;
    height: 420px;
    margin: 100px 0;
    border-radius: 24px;
    z-index: 2;
}

.fp__section div:nth-child(3){
    /* width: 30%; */
}

.fp__div1 img{
    /* height: 692px; */
    /* width: 842px; */
    margin-left: -100px;
    margin-top: 50%;

}

.fp__div2 img{
    margin-top: 22px;
    margin-left: 22px;
}

.fp__div3 img{
    height: 350px;
    margin-left: -150px;
    padding-top: 20px;

}


/* FORGOT PASSWORD CONTENT */

.fps__content h3{
    text-align: center;
    margin-top: 10px;
}

.fps__content p{
    text-align: center;
    margin-top: 10px;
}

.fps__content h3, p{
    /* padding: 0 50px; */
}

.fps__content p{
    font-size: 12px;
}

.fps__content form{
    display: grid;
    padding: 40px 50px;
}

.fps__content form input{
    border-radius: 6px;
    border: 1px solid;
    padding: 10px; 
}
.fps__content form button{
    background: #0C7DE6;
    color: #FFFFFF;
    margin-top: 40px;
    padding: 10px;
    border-radius: 6px; 
    border: none;
}





/* MOBILE STYLING */

@media (width <=768px) {

    .fp__section{
        display: flex;
        /* justify-content: space-evenly; */
        width: 100%;
    }

    .fp__div1 img{
        height: 172px;
    width: 242px;
        margin-top: 350px;
    
    }
    
    .fp__div2 img{
        margin-top: 22px;
        margin-left: 22px;
    }
    
    .fp__div3 img{
        height: 175px;
        margin-left: -20px;
        margin-top: 120px;
    
    }

    .fp__section div:nth-child(1){
        width: 10%;
    }

    .fp__section div:nth-child(3){
        width: 10%;
    }

    .fp__section div:nth-child(2){
        width: 80%;
        /* height: 320px; */
        margin: 30% 0 70% 0;
        border-radius: 6px;
        z-index: 2;
    }
  
  }
  
  
  /* MINI TABLET STYLING */
  
  @media (width <=768px) {}
  
  /* IPAD AIR STYLING */
  
  @media (width=820px) {}

